body {
    background: #f5f5f5;
    margin: 0;
}

.inner-container {
    margin-top: 15vh;
    margin-left: 200px;
    margin-right: 200px;
    background: #ffe4e6;
    height: 60vh;
    padding-bottom: 40px;
    padding-top: 10px;
}

.text-div {
    max-width: 50%;
    min-width: 30%;
    margin-left: 25%;
    align-content: center;
    height: 65%;
    background: white;
    box-shadow: 0 0 10px 15px green;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.text-div:hover {
    box-shadow: 0 0 10px 15px yellow;

}

.text-btn {
    margin-top: 35px;
}

.form-label {
    font-weight: bold;
}

.name-header {
    height: 60px;
    background: blue;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}